h1{
  color:gray;
  font-size: 48px;
  font-family: "courier new";
}

body{
  background-color: #fcba03;
  cursor: grab;
  font-size: 26px;
  font-family: "courier new";
  background-image: url(dande.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  color: #fcba03;
  font-family: "courier new";
}

a{
  text-decoration: none;
  color:#fcba03;
  font-family: "courier new";
}

a:visited {
  text-decoration: none;
  color:#fcba03;
}
