h1{
  color:#fcba03;
  font-family: "courier new";
  font-size: 26px;
}

body{
  background-color: #edebda;
  cursor: grab;
  font-size: 45px;
  cursor: grabbing;
}

p{
  color: #2f7037;
  font-family: "snell roundhand";
  position: fixed;
  left: 350;
  top: 300;

}

a{
  position: fixed;
  left:440;
  top: 120;
  text-decoration: none;
  color:#fcba03;
  font-family: "courier new";
  font-size: 50px;
  opacity: 0;
}

a:visited {
  text-decoration: none;
  color:#fcba03;
  font-family: "courier new";
  opacity: 0;
}

a:hover{
  color: #fcba03;
  opacity: 1;
}
